.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: $roboto;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  user-select: none;

  @include hover-focus {
    opacity: 0.8;
  }
}
