.callback {
  color: $color-default-white;
  background-color: $sapphire;

  h2 {
    font-family: $alumni;
    font-weight: 800;
    font-size: 54px;
    line-height: 156%;
    letter-spacing: 0.03em;
  }
}
