.main__gym {
  margin-bottom: 235px;

  @include vp-767 {
    margin-bottom: 80px;
  }
}

.main__catalog {
  margin-bottom: 120px;

  @include vp-1199 {
    margin-bottom: 100px;
  }

  @include vp-767 {
    margin-bottom: 68px;
  }
}

.main__promo {
  margin-bottom: 106px;

  @include vp-1199 {
    margin-bottom: 100px;
  }

  @include vp-767 {
    margin-bottom: 68px;
  }
}

.main__trainers {
  margin-bottom: 140px;

  @include vp-1199 {
    margin-bottom: 100px;
  }

  @include vp-767 {
    margin-bottom: 70px;
  }
}

.main__features {
  margin-bottom: 102px;

  @include vp-1199 {
    margin-bottom: 82px;
  }

  @include vp-767 {
    margin-bottom: 49px;
  }
}

.main__promotions {
  margin-bottom: 116px;

  @include vp-1199 {
    margin-bottom: 83px;
  }

  @include vp-767 {
    margin-bottom: 46px;
  }
}

.main__reviews {
  margin-bottom: 120px;

  @include vp-1199 {
    margin-bottom: 96px;
  }

  @include vp-767 {
    margin-bottom: 67px;
  }
}

.main__bottom-container {
  background-image: linear-gradient(90deg, $sapphire 50%, $color-default-white 50%);

  @include vp-1199 {
    background-image: none;
  }
}


.main__bottom-wrapper {
  display: flex;
  width: 100%;
  max-width: 1366px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 103px;

  border-top: 1px solid $light-state-grey;

  @include vp-1199 {
    padding: 0;
    flex-direction: column;

    border: none;
  }
}

.main__callback {
  width: 50%;

  @include vp-1199 {
    width: 100%;
  }
}

.main__contacts {
  width: 50%;

  @include vp-1199 {
    width: 100%;
  }
}
