.reviews {
  h2 {
    margin: 0 0 37px;
    font-family: $alumni;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;
    text-align: center;

    @include vp-1199 {
      font-size: 42px;
    }

    @include vp-767 {
      margin: 0 0 30px;
      font-size: 32px;
    }
  }
}

.reviews__container {
  display: flex;
  max-width: 675px;
  margin: 0 auto;
}

.reviews__slider {
  max-width: 560px;

  @include vp-767 {
    max-width: none;
  }
}

.reviews__item {
  display: flex;
  gap: 28px;

  width: 560px;
  padding: 54px 62px 59px;
  background-color: $resolution-blue;

  @include vp-1199 {
    width: 566px;
  }

  @include vp-767 {
    display: block;
    width: 226px;
    padding: 40px 30px 38px;
  }
}

.reviews__content {
  color: $color-default-white;

  h3 {
    margin: 0 0 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    @include vp-767 {
      margin: 0 0 21px;
    }
  }

  p {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    @include vp-767 {
      text-align: center;
    }
  }
}

.reviews__image {
  flex-shrink: 0;
  padding: 8px 0 0;

  @include vp-767 {
    float: left;
    padding: 0 16px 0 15px;
  }

  img {
    border-radius: 50%;

    @include vp-767 {
      width: 68px;
      height: 68px;
    }
  }
}

.reviews__btn {
  position: static;
  display: block;
  align-self: center;

  margin: 0;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    &::before {
      border-color: $torch-red;
      opacity: 0.8;
    }
  }

  @include vp-767 {
    top: 195px;
  }

  &::before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    border: 1px solid $dark-grey;
    border-top: none;
    border-right: none;
    transform: rotate(45deg);

    @include vp-767 {
      width: 14px;
      height: 14px;
    }
  }

  &::after {
    content: "";
  }

  &--next {
    &::before {
      transform: rotate(-135deg);
    }
  }
}
